.page {
  padding: 20px;
}
.threeButtonContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: aquamarine;
}

.agendaContainer {
}
@media (max-width: 600px) {
  .page {
  }
}
