.page {
  padding: 20px;
}
.titleContain {
  display: grid;
  padding: 20px;
}
.threeButtonContainer {
  display: grid;
  place-content: center;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(247, 247, 247);
  max-width: 1000px;
  margin: 20px;
}

.agendaContainer {
  padding-left: 10%;
  overflow: hidden;
}
@media (max-width: 600px) {
  .page {
  }
}
